<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Brand Status Update</title>
  </head>
  <body
    style="
      font-family: 'Gill Sans', sans-serif;
      font-size: 16px;
      line-height: 1.5;
      margin: 0;
      padding: 0;
      background-color: #222222;
      color: #ffffff;
    "
  >
    <div style="width: 100%; max-width: 600px; margin: 0 auto">
      <div
        style="
          background-color: #008989;
          color: #fff;
          padding: 30px 20px;
          text-align: left;
          background-image: url('https://iili.io/HSxGy1S.png');
          background-size: contain;
        "
      >
        <img
          src="https://iili.io/HSxzfFp.png"
          alt="Logo"
          style="height: 30px; float: right"
        />
        <h1 style="font-size: 24px; margin: 0">Brand Status Update</h1>
      </div>
      <div style="background-color: #444444; color: #f7f7f7; padding: 20px">
        <p>Dear {{brandOwner}},</p>
        <p>
          Thank you for signing up for Merchant. We will notify you with an
          E-mail when {{brandName}} is accepted on Merchant.
        </p>
        <p>
          If you have any questions regarding this E-mail, please contact us at
          <a
            href="mailto:support@merchantapp.co"
            style="color: #008989; text-decoration: none"
            >support@merchantapp.co</a
          >
        </p>
        <p>Best Regards,</p>
        <p>Merchant Team</p>
      </div>
      <div
        style="
          background-color: #333333;
          color: #ffffff;
          padding: 20px;
          text-align: center;
          font-size: 12px;
        "
      >
        <p>This is an automated E-mail. Please do not reply to this message.</p>
      </div>
    </div>
  </body>
</html>
